<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
          android:versionCode="1" 
          android:versionName="1.0" 
          package="ClassyMediaPlayer.ClassyMediaPlayer">
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="22" />
  <application android:allowBackup="true" android:icon="@drawable/ic_launcher" 
               android:label="Classy Media Player" 
               android:roundIcon="@mipmap/ic_launcher_round"     
               android:supportsRtl="true"     
               android:theme="@android:style/Theme.Holo.NoActionBar.TranslucentDecor">
  </application>
</manifest>
